<!doctype html>
<html lang="en">
  <head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="60">

    {% include 'bootstrap_css.html' %}

    <title>Admin - Prisoner's Dilemma</title>
  </head>
  <body>
      <div class="container">

        <h1>Prisoner's Dilemma</h1>

        <h2>Administration</h2>

<p>
        <a class="btn btn-primary" href="{{ suffix }}/monitor">Monitor</a>
    </p>


    <h3>List of URLs</h3>
    {{ content }}


</div>

{% include 'bootstrap_js.html' %}

  </body>
</html>
