<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="60">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Home - Prisoner's Dilemma</title>
  </head>
  <body>
<main>
    <div class="container">

        <h1>Welcome to the Prisoner's Dilemma game</h1>

<form action="/prisoner/player_id" method="POST">
    <div class="form-group">
        <label for="player_id">Input your player id</label>
    
    <input type="text" class="form-control" id="player_id" name="player_id">
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>
