<!doctype html>
<html lang="en">
  <head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="60">

    {% include 'bootstrap_css.html' %}

    <title>Home - Prisoner's Dilemma</title>
  </head>
  <body>
<main>
    <div class="container">

        <h1>Gioco del dilemma del prigioniero</h1>
        <hr>




<div class="card">
  <div class="card-body">
    <h5 class="card-title">Giocherai al “Dilemma del Prigioniero”, conosci questo gioco?<br></h5>
    <p class="card-text">
Nel “Dilemma del Prigioniero” i due giocatori si trovano in stanze diverse e non hanno possibilità di comunicare tra loro.<br>

Per ogni gioco, ad ognuno di loro vengono date due scelte: collaborare o non collaborare con l’altro giocatore.<br>

Queste due scelte portano a risultati diversi, sulla base della propria scelta E della scelta dell’altro giocatore.<br>

Tra poco giocherai al “Dilemma del Prigioniero” per ottenere Crediti Formativi Universitari (CFU).
Il numero di CFU ottenuti da te e dall’altro giocatore dipende sia dal tuo gioco (scelta: collaborare o non collaborare)
 sia dal gioco dell’altro giocatore (scelta: collaborare o non collaborare).<br>
 
 Qui giocherai sulla base di questa tabella che mostra il numero di CFU che puoi ottenere:
 
 
<table class="table" border="1">

<tr><td></td><td class="text-center">L'altro collabora</td><td class="text-center">L'altro NON collabora</td></tr>

<tr><td style="color:red">TU collabori</td><td class="text-center"><span style="color:red"><b>3</b></span>; 3</td class="text-center"><td class="text-center"><span style="color:red"><b>1</b></span>; 4</td></tr>

<tr><td style="color:red">TU NON collabori</td><td class="text-center"><span style="color:red"><b>4</b></span>; 1</td><td class="text-center"><span style="color:red"><b>2</b></span>; 2</td></tr>

</table>
    </p>
  </div>
</div>

<br><br>

{{ msg }}

<form action="/prisoner/player_id" method="POST">

<div class="form-group">
<label for="player_id"><h2>Immetti il tuo ID e premi il pulsante per cominciare</h2></label>
<input type="text" class="form-control" id="player_id" name="player_id">
</div>

<button type="submit" class="btn btn-primary">Giocare</button>

</form>

</div>
</main>

{% include 'bootstrap_js.html' %}

</body>
</html>
