<!doctype html>
<html lang="en">
<head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="60">

    {% include 'bootstrap_css.html' %}

<title>Monitor - Prisoner's Dilemma</title>
</head>

<body style="font-size: 10px;">

<div class="container">

<h1>Prisoner's Dilemma</h1>
<hr>

<p>
<a class="btn btn-primary" href="{{ suffix }}/admin">Admin page</a>
</p>

<h2>Monitor</h2>

<button class="btn btn-danger" onClick="window.location.reload(false)">Refresh</button>

{{ content }}

</div>

{% include 'bootstrap_js.html' %}

</body>
</html>
