<!doctype html>
<html lang="en">
  <head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'bootstrap_css.html' %}

    <meta http-equiv="refresh" content="60">

    <title>List of rooms for {{ player_id }}- Prisoner's dilemma</title>
  </head>
  <body>
      <div class="container">

        <h1>Gioco del dilemma del prigioniero</h1>
        <hr>

    <h2>Elenco delle stanze per il giocatore {{ player_id }}</h2>

<table class="table">
  <thead>
    <tr>
      <th>Numero stanza</th>
    <th class="text-center">Opponente</th>
      <th class="text-center">Numero di sessioni</th>
      <th class="text-center">Numero di sessioni giocate</th>
      <th class="text-center">Numero di sessioni da giocare</th>
      <!--<th>Opponent is waiting</th>-->
    </tr></thead>
{{ content }}
</table>

</div>

{% include 'bootstrap_js.html' %}

  </body>
</html>
