<!doctype html>
<html lang="en">
<head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'bootstrap_css.html' %}

<title>Prisoner's Dilemma</title>

</head>

<body>
<div class="container">

<h1>Gioco del dilemma del prigioniero</h1>
<hr>
<h2>Stanza #{{ room_id }}</h2>

<h3>Sei il giocatore <b>{{ player_id }}</b></h3>

<h3>Stai giocando contro:</h3>

{{ picture }}<br>

<p>
sessione: {{ session_idx }}
</p>

<p>
<a  class="btn btn-primary" href="{{ suffix }}/action/C/{{ player_id }}/{{ room_id }}/{{ session_idx }}">Collabori</a>
<a  class="btn btn-primary" href="{{ suffix }}/action/D/{{ player_id }}/{{ room_id }}/{{ session_idx }}">Non collabori</a>
</p>

<!--
<p>
<a href="{{ suffix }}/rooms/{{ player_id }}" class="btn btn-primary" >Torna all'elenco delle stanze</a>
</p>
-->


</div>

{% include 'bootstrap_js.html' %}

<script src="{{ url_for('static', filename='hide_image.js') }}"></script>

{{ hide_image }}

</body>
</html>
