<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'bootstrap_css.html' %}

    <title>Prisoner's Dilemma</title>
</head>

<body>
<div class="container">

<h1>Prisoner's Dilemma</h1>

<h2>Room #{{ room_id }}</h2>

<h3>You are the player <b>{{ player_id }}</b></h3>

<!--
<h3>You are playing with {{ opponent }} (session: {{ session_idx }})</h3>
-->
<p>
<a  class="btn btn-primary" href="{{ suffix }}/action/C/{{ player_id }}/{{ room_id }}/{{ session_idx }}">I will cooperate</a>
<a  class="btn btn-primary" href="{{ suffix }}/action/D/{{ player_id }}/{{ room_id }}/{{ session_idx }}">I will defect</a>
</p>

<p>
<a href="{{ suffix }}/rooms/{{ player_id }}" class="btn btn-primary" >return to the rooms list</a>
</p>

<p>
{{ picture }}
</p>

</div>

{% include 'bootstrap_js.html' %}

<script src="{{ url_for('static', filename='hide_image.js') }}"></script>

{{ hide_image }}

</body>
</html>
