<!doctype html>
<html lang="en">
  <head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'bootstrap_css.html' %}


    <title>List of rooms for {{ player_id }}- Prisoner's dilemma</title>
  </head>
  <body>
      <div class="container">

        <h1>Prisoner's dilemma game</h1>
        <hr>

    <h2>List of rooms for the player {{ player_id }}</h2>

<table class="table">
  <thead>
    <tr>
      <th>Room number</th>
    <th class="text-center">Opponent</th>
      <th class="text-center">Number of sessions</th>
      <th class="text-center">Number of sessions played</th>
      <th>Number of sessions to play</th>
      <!--<th>Opponent is waiting</th>-->
    </tr></thead>
{{ content }}
</table>

</div>

{% include 'bootstrap_js.html' %}

  </body>
</html>
