<!doctype html>
<html lang="en">
  <head>
    <meta author="Olivier Friard">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% include 'bootstrap_css.html' %}

    <meta http-equiv="refresh" content="60">

    <title>List of rooms for {{ player_id }}- Prisoner's dilemma</title>
  </head>
  <body>
      <div class="container">

        <h1>Prisoner's Dilemma</h1>

    <h2>List of rooms for player {{ player_id }}</h2>

<table class="table">
  <thead><tr><th>Room id</th><th>Number of sessions</th><th>Sessions played</th><th>Sessions to be played</th><th>Opponent is waiting</th></tr></thead>
{{ content }}
</table>

</div>

{% include 'bootstrap_js.html' %}

  </body>
</html>
